.blog-page {
  .navbar {
    background-color: #3498db;
    padding: 10px;
    text-align: center;

    h2 {
      color: white;
      margin: 0;
      font-size: 24px;
    }
  }

  .blog-layout {
    display: flex;
    justify-content: space-between;
  }

  .blog-container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    h1 {
      text-align: center;
      color: #3498db;
      margin-bottom: 30px;
    }
  }

  .recent-posts {
    width: 25%;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

    h3 {
      text-align: center;
      color: #3498db;
      margin-bottom: 20px;
    }
  }

  .blog-post {
    border-bottom: 2px solid #f83c3c;
    padding: 20px 0;

    &:last-child {
      border-bottom: none;
    }

    h2 {
      color: #2c3e50;
      margin: 0;
    }

    .date {
      font-size: 0.9em;
      color: darken(#2c3e50, 20%);
      margin-bottom: 10px;
    }

    .read-more {
      display: inline-block;
      margin-top: 10px;
      color: #3498db;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .recent-post {
    margin-bottom: 15px;

    h4 {
      margin: 0;
      font-size: 1.1em;
      color: #2c3e50;

      a {
        color: #3498db;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .date {
      font-size: 0.8em;
      color: darken(#2c3e50, 20%);
    }
  }

  .blog-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    display: block;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
}

/* Style cho trang chi tiết bài viết */
.blog-detail {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;

  h1 {
    color: #3498db;
    margin-bottom: 20px;
  }

  .date {
    font-size: 0.9em;
    color: darken(#2c3e50, 20%);
    margin-bottom: 20px;
  }

  .blog-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  p {
    color: #2c3e50;
    font-size: 1.1em;
    line-height: 1.6;
  }
}
