@use "sass:map";
@import "theme";

* {
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.container {
    margin: 120px auto 0 auto;
    max-width: 100vw;
    padding: 0 20px;
    min-height: calc(100vh - 120px);
    overflow-y: auto;
    box-sizing: border-box;
} 