@use "sass:map";
@import "theme";
html,
body {
    margin: 0;
}

* {
    font-family: Roboto;
}

.container {
    margin-top: 140px;
    width: 93vw;
    padding-bottom: 20px;
    // background: map.get($theme-color, "main");
} 