// Biến màu
$primary-color: black;
$hover-color: rgba(26, 26, 26, 0.7);
$header-height: 90px;
$header-height-shrink: 70px;

// Biến màu cho nút "Back to Top"
$back-to-top-bg-color: black; // Màu nền cho nút
$back-to-top-text-color: white; // Màu chữ cho nút

// Header

.header {
    height: $header-height;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition:
        height 0.8s ease,
        background-color 0.8s ease,
        box-shadow 0.4s ease;

    &.shrink {
        height: $header-height-shrink; // Chiều cao khi thu nhỏ
    }

    // Navbar trên cùng
    &__top-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: flex-end;
        transition:
            opacity 0.6s ease,
            visibility 0.6s ease,
            height 0.6s ease;

        // Ẩn navbar khi thu nhỏ
        &.shrink {
            opacity: 0;
            visibility: hidden;
            height: 0;
            overflow: hidden;
        }

        // Các mục trong navbar
        &-list {
            display: flex;
            margin: 10px 40px 0 0;
        }

        &-item {
            display: inline-block;
            font-size: 1.4rem;
            color: $primary-color;
            margin: 0 5px;
            position: relative;
            &:hover {
                color: $hover-color;
                cursor: pointer;
                transition: all 0.4s ease-in-out;
            }
            &--bold {
                font-weight: 550;
            }
        }
    }

    // Navbar chính
    .header__main-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $header-height-shrink;

        &-list {
            list-style-type: none;
            padding: 0;
            margin: 0 10px;
        }

        &-item {
            display: inline-block;
            font-size: 1.4rem;
            color: $primary-color;
            position: relative;
            a {
                text-decoration: none;
                color: $primary-color;
            }
        }

        &-logo {
            img {
                width: 300px;
                height: 60px;
                object-fit: cover;
                transition:
                    width 0.8s ease,
                    height 0.8s ease;

                &.shrink {
                    width: 200px; // Chiều rộng khi thu nhỏ
                    height: 40px; // Chiều cao khi thu nhỏ
                }
            }
        }

        &-link {
            font-weight: 750;
            font-size: 1.6rem;
            padding: 10px;
            display: block; /* Thay đổi từ float: left sang display: block */
            transition: 0.5s linear;
            position: relative;
            overflow: hidden;
            text-align: center;
            background: transparent;
            cursor: pointer;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                height: 4px;
                width: 100%;
                border-bottom: 2px solid transparent;
                border-left: 2px solid transparent;
                box-sizing: border-box;
                transform: translateX(100%);
            }

            &:after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
                border-top: 2px solid transparent;
                border-right: 2px solid transparent;
                box-sizing: border-box;
                transform: translateX(-100%);
            }
            &:hover {
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

                &:before {
                    border-color: #262626;
                    height: 100%;
                    transform: translateX(0);
                    transition:
                        0.3s transform linear,
                        0.3s height linear 0.3s;
                }

                &:after {
                    border-color: #262626;
                    height: 100%;
                    transform: translateX(0);
                    transition:
                        0.3s transform linear,
                        0.3s height linear 0.5s;
                }
            }
        }
    }
}

.backToHome {
    margin: 100px 0 7px 0;
    font-size: 16px;
    display: flex;
    gap: 5px;

    &__link {
        color: #999;
        text-decoration: none;
        display: inline-flex;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    &__Label {
        align-items: center;
        color: #eb1c24;
        font-weight: bold;
    }
}
