@use "sass:map";
@import "../../../../styles/pages/theme";

// Biến màu
$primary-color: black;
$hover-color: rgba(26, 26, 26, 0.7);
$header-height: 90px;
$header-height-shrink: 70px;

// Biến màu cho nút "Back to Top"
$back-to-top-bg-color: black; // Màu nền cho nút
$back-to-top-text-color: white; // Màu chữ cho nút

// Header

.header {
    height: $header-height;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition:
        height 0.8s ease,
        background-color 0.8s ease,
        box-shadow 0.4s ease;

    &.shrink {
        height: $header-height-shrink; // Chiều cao khi thu nhỏ
    }

    // Navbar trên cùng
    &__top-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: flex-end;
        transition:
            opacity 0.6s ease,
            visibility 0.6s ease,
            height 0.6s ease;

        // Ẩn navbar khi thu nhỏ
        &.shrink {
            opacity: 0;
            visibility: hidden;
            height: 0;
            overflow: hidden;
        }

        // Các mục trong navbar
        &-list {
            display: flex;
            margin: 10px 40px 0 0;
        }

        &-item {
            display: inline-block;
            font-size: 1.4rem;
            color: $primary-color;
            margin: 0 5px;
            position: relative;

            &:hover {
                color: $hover-color;
                cursor: pointer;
                transition: all 0.4s ease-in-out;
            }

            &--bold {
                font-weight: 550;
            }
        }

        &-link {
            color: $primary-color;
        }
    }

    // Navbar chính
    .header__main-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $header-height-shrink;

        &-list {
            list-style-type: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        &-item {
            display: inline-block;
            font-size: 1.4rem;
            color: $primary-color;
            position: relative;

        }

        &-menu-icon--close {
            display: none;
            
        
            .menu-icon {
                width: 50px;
                height: 50px;
                transition: all ease-in 0.3s;
                cursor: pointer;
                .checkboxtoggler {
                    width: 45px;
                    aspect-ratio: 1 / 1;
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    flex-direction: column;
                    gap: 10px;
                    cursor: pointer;
                  
                    .line {
                      background: #000000;
                      height: 0.3em;
                      border-radius: 10em;
                      transition: transform 500ms, scaleX 500ms;
                  
                      &.checked {
                        background: map-get($theme-colors, "main-red");
                        &.line-1 {
                          transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
                        }
                  
                        &.line-2 {
                          transform: rotate(-45deg) translateY(0em) translateX(0em);
                        }
                  
                        &.line-3 {
                          transform: scaleX(0);
                          transform-origin: left;
                        }
                      }
                    }
                  }
            }
            :hover .menu-icon{
                transform: scale(0.8);
            }
        }


        &-logo {
            img {
                width: 300px;
                height: 50px;
                object-fit: cover;
                transition:
                    width 0.8s ease,
                    height 0.8s ease;

                &.shrink {
                    width: 200px; // Chiều rộng khi thu nhỏ
                    height: 40px; // Chiều cao khi thu nhỏ
                }
            }
        }

        &-avatar {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-right: 10px;
            user-select: none;
            height: 100%;
            img {
                height: 40px;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
        }
        span {
            display: none;
        }

        &-link {
            color: $primary-color;
            font-weight: 750;
            font-size: 1.6rem;
            padding: 10px;
            display: block;
            /* Thay đổi từ float: left sang display: block */
            transition: 0.5s linear;
            position: relative;
            overflow: hidden;
            text-align: center;
            background: transparent;
            cursor: pointer;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                height: 4px;
                width: 100%;
                border-bottom: 2px solid transparent;
                border-left: 2px solid transparent;
                box-sizing: border-box;
                transform: translateX(100%);
            }

            &:after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
                border-top: 2px solid transparent;
                border-right: 2px solid transparent;
                box-sizing: border-box;
                transform: translateX(-100%);
            }

            &:hover {
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

                &:before {
                    border-color: #262626;
                    height: 100%;
                    transform: translateX(0);
                    transition:
                        0.3s transform linear,
                        0.3s height linear 0.3s;
                }

                &:after {
                    border-color: #262626;
                    height: 100%;
                    transform: translateX(0);
                    transition:
                        0.3s transform linear,
                        0.3s height linear 0.5s;
                }
            }
        }
    }

    @media (max-width: 1080px) {
        .header__main-navbar-menu {
            padding-top: 120px;
            position: absolute;
            width: 40vw;
            min-width: 250px;
            height: 100vh;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: start;
            background-color: rgb(255, 255, 255);
            top: -10px;
            left: -40vw;
            z-index: 10;
            opacity: 0;
            outline: rgba(0, 0, 0, 0) solid 100vw;
            transition: left 0.5s ease, outline 0.5s ease;

    
            .header__main-navbar-item {
                width: 100%;
            }
    
            .header__top-navbar-item--member {
                position: absolute;
                top: 50px;
                width: 90%;
                min-height: 50px;
                aspect-ratio: 6 / 1;
                padding: 2.5px 0;
                background-color: #9b98987e;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
            }
    
            .header__main-navbar-avatar {
                img {
                    height: 90%;
                    min-height: 40px;
                }
            }
            span {
                display: block;
                font-size: 18px;
                font-weight: 700;
                margin-left: 10px;
                color: #262626;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .header__main-navbar-menu--open {
            left: 0;
            opacity: 1;
            outline: rgba(0, 0, 0, 0.5) solid 100vw;
        }
        
        .header__main-navbar-menu-icon--close {
            display: block;
            background-color: rgb(255, 255, 255);
            border: rgb(255, 255, 255) solid 7.5px;
            margin: 0 0 7.5px 0;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            z-index: 1000;
            transition: margin 1s ease;

            &.shrink {
                margin: 7.5px 0 0 0;
            }
        }

        .header__main-navbar-menu-icon--open {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 59px;
            right: -10px;
            transition: top 0.8s ease;

            &.shrink {
                top: 31.5px;
            }

            .header__main-navbar-menu-icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
}

.backToHome {
    margin: 70px 0 5px 0;
    padding: $theme-padding;

    &-container {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 16px;
        user-select: none;

        .link {
            color: #999;
            text-decoration: none;
            display: inline-flex;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .label {
            align-items: center;
            color: map-get($theme-colors, "main-red");
            font-weight: bold;
        }
    }

}